@import "svg.scss";

$base-color: #F4EDC3;
$font-color: #16394C;
$secondary-color: #DDA943;
$accent-color: #D32A2D;

* {
    margin: none;
    padding: none;
    zoom: none;
}

body {
    background: $base-color;
    font-family: liquorstore-jazz, sans-serif;
    color: $font-color;
    width: 100%;
    overflow: hidden;
}

header {
    height: 3em;
    svg {
        height: 100%;
    }
}

.wrapper {
    div {
        text-align: center;
    }
}

.content {
    display: flex;
    flex-direction: column;

    h1 {
        margin: 1.5em 0 1em;
    }
}

.circle-container {
    svg {
        z-index: -1;
        position: absolute;
        overflow: visible;
        left: 0;
        margin-left: 0;
        top: 100%;
        margin-top: -50px;
        circle {
            fill: $secondary-color
        }
    }
}

.cat-container {
    margin: 4em 0;
}

.triangles-container {
    list-style: none;
    svg {
        .red {
            fill: $accent-color
        }
        .yellow {
            fill: $secondary-color
        }
    }
}

.container {
    display: flex;
    flex-direction: column;

    textarea {
        border: none;
        resize: none;
    }
}

.text {
    width: 90%;
    box-shadow: 5px 5px 3px rgba(0,0,0,.1);
    border-radius: .5em;
}

.poem {
    p {
        background-color: white;

        // border-radius: ;
    }
}

.submit, button {
    background: $accent-color;
        color: white;
        border: none;
        border-radius: .2em;
        font-family: liquorstore-jazz, sans-serif;
        padding: .2em .4em;
        font-size: 2em;
        cursor: pointer;
        margin-top: 1em;
}

@media (min-width: 800px) {

    main {
        display: grid;
        // grid-template-areas: ;
    }

    h1 {
        font-size: 3em;
    }
   
    .bongo-cat {
        width: 40vw;
    }
}