$base-color: #F4EDC3;
$font-color: #16394C;
$secondary-color: #DDA943;
$accent-color: #D32A2D;

.bongo-cat {
    width: 40%;
    max-width: 350px;
    margin-bottom: 3em;
    .cls-1, .cls-8, .cls-9 {
        fill: #fff;
      }

      .cls-2 {
        fill: #2f1e24;
      }

      .cls-11, .cls-3, .cls-4 {
        fill: none;
        stroke-width: 2px;
      }

      .cls-3 {
        stroke: #070707;
      }

      .cls-11, .cls-3, .cls-4, .cls-8, .cls-9 {
        stroke-miterlimit: 10;
      }

      .cls-4 {
        stroke: #000;
      }

      .cls-5 {
        fill: #e5c180;
      }

      .cls-6 {
        fill: #d32a2d;
      }

      .cls-7 {
        fill: #213a4d;
      }

      .cls-8, .cls-9 {
        stroke: #fff;
      }

      .cls-9 {
        stroke-width: 0.25px;
      }

      .cls-10 {
        fill: #f694a5;
      }

      .cls-11 {
        stroke: #2f1e24;
      }
}

.seen {
    display: none;
}

.yellow {
  fill: $secondary-color;
  position: absolute;
  z-index: -1;
}

.one {
  top: 40%;
  right: 30%;
}

.two {
  right: 45%;
  top: 30%;
}

.three {
  right: 20%;
  top: 5%;
}

.four {
  right: 45%;
  bottom: 30%;
}

.five {
  left: 45%;
  top: 5%;
}

.six {
  left: 40%;
  bottom: 30%;
  z-index: -2;
} 

.seven {
  left: 25%;
  bottom: 30%;
  transform: rotate(45deg);
  display: none;
}

.eight {
  display: none;
}

.red {
  fill: $accent-color;
  position: absolute;
  z-index: -1;
}